:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #512da8;
  color: white;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
}

/* need to fix fonts and sizes for various elements */

h1 {
  display: flex;
  flex-wrap: wrap;
}

nav {
  /* nav elements need to highlight on hover */
  display: flex;
  flex-direction: row;
}

h3 {
  display: flex;
  flex-wrap: wrap;
}

#pic-of-the-day {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.copyright-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 1rem;
  padding: 0;
}

.copyright-text {
  padding: 0;
  margin: 0;
}

.space-x {
  background-color: #ffc107;
  height: 3rem;
  display: flex;
  align-items: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15rem;
  align-items: center;
}

button {
  background-color: #ffc107;
  height: 7rem;
  width: 5rem;
  padding: 0;
}

/* button i {
  size: 3rem;
} */

.left-arrow {
  border-radius: 0 10% 10% 0;
}

.right-arrow {
  border-radius: 10% 0 0 10%;
}

.launch-data {
  /* needs more styling */
  background-color: #ededed;
  border-radius: 5%;
  max-height: 90%;
  width: 55%;
}

.launch-element {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.description-element {
  border-bottom: 0.1rem solid gray;
}

.time-element {
  border-bottom: 0.1rem solid gray;
}

.mission-statement {
  background-color: #d1c4e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
}

.mission-statement p {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4rem 0 4rem;
  margin: 0;
  font-size: 1.25rem;
  /* need to center-justify text */
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #512da8;
  color: #cccccc;
  justify-content: center;
  align-items: center;
}

/* make responsive for screen size  */
