:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #512da8;
  color: white;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

h1 {
  display: flex;
  flex-wrap: wrap;
}

nav {
  display: flex;
  flex-direction: row;
}

h3 {
  display: flex;
  flex-wrap: wrap;
}

#pic-of-the-day {
  /* put in potd from api */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.copyright {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 1rem;
  padding: 0;
}

.space-x {
  background-color: #ffc107;
  height: 3rem;
  display: flex;
  align-items: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15rem;
  align-items: center;
}

button {
  background-color: #ffc107;
  height: 8rem;
  width: 5rem;
}

.mission-statement {
  background-color: #d1c4e9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
}

p {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #512da8;
  color: #cccccc;
  justify-content: center;
  align-items: center;
}
