:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  background-color: #512da8;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.pic-of-the-day {
  /* put in potd from api */
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.copyright {
  display: flex;
  justify-content: center;
}

header {
  background-color: #ffc107;
}

.mission-statement {
  background-color: #d1c4e9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 3rem;
  flex: wrap;
  flex-wrap: wrap;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #512da8;
  color: #cccccc;
  justify-content: center;
  align-items: center;
}
